body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(250deg, rgb(90, 46, 46), white);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    background: rgba(255, 255, 255, .2);
    padding: 29px;
    margin: 10px;
    border-radius: 10px;
}

.input{
    width: 100%;
    font-size: 20px;
    height: 30px;
    margin-top: 5px;
}

.payment{
    font-weight: 600;
    font-size: 20px;
}